@import '../../theme/breakpoints';

.Profile {

    .top-container {
        display: flex;
        margin-bottom: 30px;

        .content-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin: 0;
                font-size: 12px;

                @media all and (min-width: $mq-xs) {
                    font-size: 14px;
                }

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .image {
        width: 80px;
        height: auto;
        border-radius: 50%;
        margin-right: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);

        @media all and (min-width: $mq-xs) {
            width: 100px;
        }
    }

    .replacement-text {
        font-style: italic;
    }

    .featured-text {
        font-weight: 600;
        text-transform: uppercase;

        &.bio {
            text-decoration: underline;
        }
    }
}