@import './theme/variables';

body {
	margin: 0;
	font-family: $font-family;
	font-weight: 400;
	line-height: 1.4;
	font-size: 14px;
	color: $font-color;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
	&:hover,
    &:focus,
    &:active {
        outline: none;
    }
}

