@import '../../theme/variables';
@import '../../theme/breakpoints';

@keyframes modalSlide {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.ModalWrapper {

    .backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        left: 0;
        z-index: 1;
        background-color: rgba(61, 61, 61,0.6);
    }
    
    .modal {
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);  
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        z-index: 2;
        animation: modalSlide .3s ease-out forwards;
    }
    
    .content {
        max-width: 600px;
        margin: 50px auto;
        position: relative;
        width: auto;
        border-radius: 3px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0,0.4);
        background: $light-color;
        z-index: 3;
        padding: 30px;
    }

    .container-btn {
        width: 100%;
    }

    .btn-close {
        padding: 10px 30px;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        border: 1px solid $brand-color;
        color:  $light-color;
        border-color: $brand-color;
        background-color: $brand-color;
        font-size: 16px;
        margin-left: auto;
        margin-right: 10px;
        display: block;

        &:hover,
        &:focus,
        &:active {
            background-color: $brand-color-darken;
            border-color: $brand-color;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($brand-color, 0.5);
        }
    }
}

