@import '../../theme/breakpoints';

.CardsList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 30px;

    @media all and (min-width: $mq-sm) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    @media all and (min-width: $mq-lg) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }
}